body {
	color: black;
	background-color:white;

}

h1 {
	font-size: 15pt;
	
}

	
a {
	color: black;
	text-decoration: underline;
}

a :hover {
	color: lightgrey;
	background-color: transparent;
	text-decoration: underline;
}



p {

	font-size: 25px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

li {
    float: left;

}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;

}

li a:hover {
    background-color: #111111;
}

.eu {
	text-align: center;
	font-size: 30px;
}



#mapid { height: 650px;
	width: 880px;





 }